body {
  background-color: #eeeeee;
  color: #222831;

}

img {
  height: 180px;
  border-radius: 100%;
}

hr {
  border-style: none;
  border-top: dotted;
  border-width: 5px;
  width: 5%;
  border-color: #393e46;
}

h3 {
  color: #00adb5;
}

h1 {
  color: #00adb5;
}

hr:hover {
  border-color: #00adb5;
}
